/* Animaciones y transiciones */

.padre{
    width: 400px;
    height: 400px;
    background-color: #aaa;
}

.hijo{
    width: 50%;
    height: 50%;
    background-color: #bbb;
    /*transition: transform 0.25s ease-in-out 0.1s;*/
    animation: traslacion 2s infinite forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: white;
        font-size: 20pt;
    }
    img{
        width: 50%;
    }
}

.padre:hover .hijo{
    /*transform: translateX(100%);
    background-color: blueviolet;*/
    animation-play-state: paused;
}

/*@keyframes traslacion{
    0%{
        background-color: #ccc;
        transform: translateX(0%);
    }
    50%{
        background-color: #fff;
        transform: translateX(10%) translateY(50%);
    }
    100%{
        background-color: #000;
        transform: translateX(100%);
    }
}*/

@keyframes traslacion{
    0%{
        background-color: #bbb;
        transform: translateX(0%) translateY(0%);
    }
    25%{
        background-color: rgb(173, 64, 185);
        transform: translateX(100%) translateY(0%);
    }
    50%{
        background-color: rgb(55, 20, 59);
        transform: translateX(100%) translateY(100%);
    }
    75%{
        background-color: rgb(116, 41, 124);
        transform: translateX(0%) translateY(100%);
    }
    100%{
        background-color: #ccc;
        transform: translateX(0%) translateY(0%);
    }
}